[project]
	description = Audio Streamer allow to convert virtually any audio file format to a mp3 stream or file
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adrien Gibrat (adriengibrat)
[access "refs/for/refs/*"]
	read = group user/Adrien Gibrat (adriengibrat)
	push = group user/Adrien Gibrat (adriengibrat)
	label-Code-Review = -2..+2 group user/Adrien Gibrat (adriengibrat)
	label-Verified = -1..+1 group user/Adrien Gibrat (adriengibrat)
	rebase = group user/Adrien Gibrat (adriengibrat)
	removeReviewer = group user/Adrien Gibrat (adriengibrat)
	submit = group user/Adrien Gibrat (adriengibrat)
[access "refs/heads/*"]
	read = group user/Adrien Gibrat (adriengibrat)
	create = group user/Adrien Gibrat (adriengibrat)
	push = +force group user/Adrien Gibrat (adriengibrat)
	pushMerge = group user/Adrien Gibrat (adriengibrat)
[access "refs/tags/*"]
	push = +force group user/Adrien Gibrat (adriengibrat)
	pushTag = group user/Adrien Gibrat (adriengibrat)
	pushSignedTag = group user/Adrien Gibrat (adriengibrat)
